#viewDiv{

  width:51%;
  height:100%;
  /*border:1px solid black;*/
  border: 2px solid #000080;
  position: relative;
  display: inline-flex
}

#search {
  height:100%;
  width:22%;
  /*border:1px solid black;*/
  border: 2px solid #000080;
  position:relative;
  float:left;
  margin-right: 6px;
}

.searchButton {
  margin:8px;
}


.esri-search__container {

  flex: none;
  margin-left: 10px;

}

.esri-search__submit-button {
  float: left;
  height: 25px;
  border: .5px solid gray;
  margin: 0;
}

.esri-search {
  width:200;
  height:25px;
  float:left;
  border: .5px solid gray;
  display: none;
}


.allButton {
  width: 110px;
    border: 1px solid gray;
    display: inline-block;
    margin: 6px;
    color: white;
    background-color: #137348;
    vertical-align: middle;
    text-align: center;
    height: 30px;
    padding: 4px;
}

#selectionInfo{
  float:right;
  position: relative;
  width: 24%;
  height:100%;
  overflow-y: auto;
  border: 2px solid #000080;
  margin-left: 6px;

}



#distance_select {
  /* margin: 10px; */
  height: 25px;
  width: 140px;
  display: none;
  float: left;
}

#draw-button {
  /*width: 150px;*/
  /*border: 1px solid gray;*/
  margin-bottom: 10px;
  margin-left: 8px;
}

#selectionTitle {
  font-size: 16px;
position: relative;
float: left;
text-transform: uppercase;
margin-top: 15px;
margin-left: 15px;
margin-bottom: 10px;
width: 350px;
font-weight: bold;
}

#allRecords {
  margin: 10px;

}

#geocoder {
  margin: 10px;
}

#point-button {
/*  background-color: rgba(255, 255, 255, 0.65);*/
  cursor: pointer;
  /*width: 100px;*/
  height: 25px;
  /*border: 1px solid gray;*/
  margin-left: 8px;
  /* margin-top: 4px; */
  display: inline-block;
  position: relative;
  float: left;


}

.record {
  border: 1.5px solid #a8b6ea;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
  margin-top:20px;

}

.browse {
  margin-left:10px;
}

.browseClass {
  margin-top: 10px;
  margin-left: 4px;

}

button.link {
  background:none;
  border:none;
}

.esri-draw-button {
  background-color: rgba(255, 255, 255, 0.65);
  cursor: pointer;
  display: inline-block;
  width: 100px;
  font-size: 1.5em;
}

.esri-draw-button-selected {
  opacity: 1;
  background-color: rgba(102, 0, 255, 0.75);
  color: white;
}

.esri-draw-button-selected:hover {
  background-color: rgba(102, 0, 255, 0.3);
  color: white;
}

.esri-point-button {
  background-color: rgba(255, 255, 255, 0.65);
  cursor: pointer;
  display: inline-block;
  width: 100px;
  font-size: 1.5em;
  border: 1px solid gray;
margin-left: 8px;
margin-top: 4px;
}

.esri-point-button-selected {
  opacity: 1;
  background-color: rgba(102, 0, 255, 0.75);
  color: white;
}

.esri-point-button-selected:hover {
  background-color: rgba(102, 0, 255, 0.3);
  color: white;
}

.layerText {
  /*word-wrap:break-word;*/
  /*word-break:break-word;*/
  width:55px;
  line-height:12px;
  position:relative;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}
  .switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input {display:none;}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}
