abouta {
  color: black;
}

/*The title and top bar of the map */

#pageTitle {
  width:100%;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  color: #586ba5;
}

#title {
  display: inline-block;
}

#searchInput {
  width: 200px;
}

#searchBox {
  float: right;
  position: relative;
  right: 0%;
  font-size: 15px;
  margin-top:14px;
}

#aboutDiv {
  width: 90px;
  float: right;
}

#about_button {
  float: right;
  background-color: #B3C6E3;
  color: white;
  height: 33px;
  width: 70px;
  margin-top: 14px;
}

#translate_button {
  float: right;
  width: auto;
  height: auto;
  margin-right: 4px;
  margin-top:14px;
  background-color: #B3C6E3;
  color: white;
  padding: 6px;
}

#biggestDiv {
  width: 83%;
  height: 83%;
  float: left;
}

#viewDiv{
  width:99%;
  height:87%;
  border: 2px solid #000080;
  position: absolute;
  display: inline-flex;
  left: 0.5%;
}

#hideSearch {
  background-color: #B3C6E3;
  border: 0.5px solid gray;
  float: left;
  position: absolute;
  margin: 0;
  width: 45px;
  padding: 3px;
  text-align: center;
  display: inline-flex;
}

#hideSearcha {
  float: left;
  display: inline-flex;
  left: 94.5%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 2px;
}


/* The search buttons on the map */

.esri-search__container {
  flex: none;
  margin-left: 10px;
}

.esri-search__submit-button {
  float: left;
  height: 25px;
  border: .5px solid gray;
  margin: 0;
}

.esri-search {
  width:200;
  height:25px;
  float:left;
  border: .5px solid gray;
  display: none;
}

#geocoder {
  margin: 10px;
}

#circle-button {
  cursor: pointer;
  height: 25px;
  display: inline-block;
  position: relative;
  float: left;
}

.esri-ui-top-left {
  top: 33px;
  position: relative;
  float: right;
}

.allButton {
  width: 110px;
  border: 1px solid gray;
  display: inline-block;
  margin: 6px;
  color: white;
  background-color: #137348;
  vertical-align: middle;
  text-align: center;
  height: 30px;
  padding: 4px;
}

#selectionInfo{
  float:right;
  position: relative;
  width: 24%;
  height:100%;
  overflow-y: auto;
  border: 2px solid #000080;
  margin-left: 6px;
}

#distance_select {
  height: 25px;
  width: 140px;
  display: none;
  float: left;
}

#polygon-button {
  margin-bottom: 10px;
}

#selectionTitle {
  font-size: 16px;
  position: relative;
  float: left;
  text-transform: uppercase;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  width: 350px;
  font-weight: bold;
}

.esri-polygon-button {
  background-color: rgba(255, 255, 255, 0.65);
  cursor: pointer;
  display: inline-block;
  width: 100px;
  font-size: 1.5em;
}

.esri-polygon-button-selected {
  opacity: 1;
  background-color: rgba(102, 0, 255, 0.75);
  color: white;
}

.esri-polygon-button-selected:hover {
  background-color: rgba(102, 0, 255, 0.3);
  color: white;
}

.esri-circle-button {
  background-color: rgba(255, 255, 255, 0.65);
  cursor: pointer;
  display: inline-block;
  width: 100px;
  font-size: 1.5em;
  border: 1px solid gray;
  margin-left: 8px;
  margin-top: 4px;
}

.esri-circle-button-selected {
  opacity: 1;
  background-color: rgba(102, 0, 255, 0.75);
  color: white;
}

.esri-circle-button-selected:hover {
  background-color: rgba(102, 0, 255, 0.3);
  color: white;
}


/* The search panel */
#search {
  position: absolute;
  display: inline-flex;
  width:26%;
  height: 87%;
}

#innerSearch {
  display: inline-flex;
  border-left: 2px solid #000080;
  border-right: 2px solid #000080;
  border-top: 2px solid #000080;
  height: 99.75%;
  position: absolute;
  margin-right: 6px;
  margin-left:6px;
  font-family: Arial;
  font-size: 14px;
  overflow-y: scroll;
  z-index: 100;
  background-color: white;
}

.searchButton {

}

.browse {
  margin-left:10px;
  max-height: 180px;
  overflow-y: scroll;
}

.browseClass {
  margin-top: 10px;
  margin-left: 4px;
  background-color: white;
  color: blue;
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: purple;
  height: 10px;
  float: left;
  text-align: left;
}


/* The results */

.card {
  width: 322px;
}

#allRecords {
  margin: 10px;
}

.record {
  margin:4px;
}

.bigRecord {
  border: 1.5px solid #a8b6ea;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
  margin-top:20px;
}

#polygonSearchTag {
  display: none;
  width: 45%;
  border: 1px solid #d4d4d4;
  background: #f5f2e2;
  margin-left: 4px;
  margin-bottom: 10px;
  padding: 4px;

}

#clearPolygonTag {
  float: right;
  width: 10px;
  height: 10px;
  color: #b9b5b5;

}

#sortSelectDiv{
  display: none;
  margin-left:4px;
}

.citation {
  display: none;
  margin: 4px;
  font-size: 11px;

}

.allCitation {
  z-index: 38;
  top: 0;
  margin: 6px;
  background: #b9b9b9;
  border: 1px solid black;
  padding: 10px;
  display: none;
  position: relative;
}

.citationClose {
  width: 20px;
  height: 20px;
  float: right;
  color: blue;
}

.citeButton {
  margin: 4px;
}

.copy {
  margin-top: 10px;
}

.paginate {
  float:left;
  margin:4px;
}

/* Buttons and miscellaneous */
.border {
  margin:8px;
  border-top:1px solid #8c8dd4
}

.btn-primary:hover {
  color: #8c8dd4;
  background-color: white;
  border-color:white;
  border-color:white
}

.btn-primary {
  color: #8c8dd4;
  background-color: #ffffff;
  border-color: #ffffff;
  width: 100%;
  height:20px;
  text-align: left
}

a.btn.btn-primary {
  border-color:white
}

.btn-primary.focus, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(253, 254, 255, 0.5);
  box-shadow: 0 0 0 2px rgba(249, 250, 251, 0.5);
}

button.link {
  background:none;
  border:none;
}


.layerText {
  width:55px;
  line-height:12px;
  position:relative;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.filterButton {
  display: block;
}

#collapseOne {
  margin: 6px
}

/* Popups */
.bigPopupText {
  display: none;
}

.popupText {
  font-size: 10px;
  position: relative;
  float: right;
  z-index: 38;
  top: -70;
  background: #b9b9b9;
  border: 1px solid black;
  padding: 10px;
}

.popupText .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


/* The about window */
.about-btn {
  position: relative;
  display: table-cell;
  width: 100px;
  height: 100px;
  background-color: #2c3e50;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  font-size: 36px;
  color: white;
  text-align: center;
  line-height: 2.75;
  transition: box-shadow 250ms ease;
}
.about-btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.about-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 200;
  visibility: hidden;
  transition: background-color 250ms linear;
}

.about-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: auto;
  margin-top: -18%;
  margin-left: -25%;
  padding: 30px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: transform 250ms ease;
  visibility: hidden;
  z-index: 20;
}
.about-content .close {
  position: relative;
  float: right;
  font-size: 18px;
  transition: transform 500ms ease;
  z-index: 11;
}
.about-content .close:hover {
  color: #3498db;
  transform: rotate(540deg);
}
.about-content header {
  position: relative;
  display: block;
  border-bottom: 1px solid #eee;
}
.about-content header h2 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 28px;
}
.about-content article {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.75;
}
.about-content footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 10px 0 0;
}
.about-content footer .button {
  position: relative;
  padding: 10px 30px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  overflow: hidden;
}
.about-content footer .button:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: width 250ms ease;
  z-index: 0;
}
.about-content footer .button:hover:before {
  width: 100%;
}
.about-content footer .button.success {
  margin-right: 5px;
  background-color: #2ecc71;
}
.about-content footer .button.danger {
  background-color: #e74c3c;
}

#about {
  display: none;
}
#about:checked ~ .about-bg {
  visibility: visible;
  background-color: black;
  opacity: 0.7;
  transition: background-color 250ms linear;
}
#about:checked ~ .about-content {
  visibility: visible;
  transform: scale(1);
  transition: transform 250ms ease;
  z-index: 300;
}
